.header {
  display: flex;
  flex-direction: column;
  gap: 16px;
  text-align: center;
  width: 100%;
  background: #002a42;
  position: fixed;
  top: 0;
  z-index: 9999;

  .header-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    gap: 16px;
    padding: 20px;
    width: 95%;
  }

  .logo {
    margin: 0;
  }
}

@media (min-width: 769px) {
  .header {
    .header-content {
      flex-direction: row;
      justify-content: space-between;
    }

    .logo {
      font-size: 24px;
    }

    .add-device-btn {
      width: auto;
    }
  }
}
